<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <h1>조회 전용 프레임워크 테스트 화면</h1>
        
        <h2>JSON POST 거래 테스트</h2>
        <p><a href="/customertestview">고객조회테스트(이름으로)</a></p>
        <p>
        	<a href="/accounttestview">계좌조회테스트(이름으로)</a>
        	<a href="/accounttest2view">계좌조회테스트(계좌번호로)</a>
        </p>
        <p>
        	<a href="/transactiontestview">거래내역조회테스트(이름으로)</a>
        	<a href="/transactiontest2view">거래내역조회테스트(계좌번호로)</a>        	
        </p>        
        
        <h2>테이블 조회</h2>
        <p><a href="/customerlistview">고객리스트</a></p>
        <p><a href="/accountlistview">계좌리스트</a></p>
        <p><a href="/transactionlistview">거래내역</a></p>        
        <br/>
        
        <h2>프레임워크</h2>
        <p><a href="/transactionlogview">거래로그</a></p>
        <br/>
    </div>
</div>
</body>
</html>